html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

img {
  border-style: none;
  vertical-align: top; }

input,
textarea,
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle; }

textarea {
  overflow: auto;
  min-height: 30px;
  max-height: 400px;
  resize: vertical;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  vertical-align: middle; }

button {
  cursor: pointer; }
  button[disabled] {
    cursor: default; }

button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer; }

input[disabled] {
  cursor: default; }

input[type="image"] {
  padding: 0;
  border: none; }

input[type="submit"], input[type="text"], input[type="password"], input[type="file"], input[type="search"], input[type="email"] {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="submit"],
input[type="text"] {
  -webkit-border-radius: 0; }

body {
  font: 13px/1.2 Arial, Helvetica, sans-serif;
  color: #000;
  min-width: 320px;
  background: #e8ebf1; }

a {
  text-decoration: none; }

img {
  border-style: none;
  vertical-align: top; }

::-webkit-input-placeholder,
:-ms-input-placeholder {
  color: #a5a7ae; }

:-moz-placeholder,
::-moz-placeholder {
  color: #a5a7ae;
  opacity: 1; }

p {
  margin: 0 0 10px; }

h2 {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #fff;
  margin: 0 0 10px; }

h3 {
  font-size: 29px;
  color: #2d3950;
  margin: 0 0 30px; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  padding: 36px 0  47px; }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .header .logo {
    display: block; }
    .header .logo a {
      display: block;
      height: 100%; }

.main-menu {
  padding: 9px 18px 0 0; }
  .main-menu > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 14px; }
    .main-menu > li:first-child {
      margin-left: 0; }
  .main-menu a {
    color: #000;
    padding: 8px 27px 12px 12px;
    display: block;
    border-top: 5px solid #e8ebf1;
    font-weight: bold;
    text-transform: uppercase; }
    .main-menu a:hover {
      background: #fff;
      border-color: #2aacc8;
      color: #2aacc8; }
  .main-menu ul {
    display: none;
    padding: 0 6px;
    background: #fff;
    position: absolute;
    z-index: 5;
    left: -1px;
    width: 197px; }
  .main-menu li:hover ul {
    display: block;
    border: 1px solid #e8ebf1;
    box-shadow: 0 5px 0px 0px #2aacc8; }
    .main-menu li:hover ul a {
      text-transform: none;
      font-weight: normal;
      border-top: none;
      border-top: 1px solid #e7e7e7; }
    .main-menu li:hover ul li:first-child a {
      border-top: none; }
  .main-menu li:hover > a {
    background: #fff;
    border-color: #2aacc8;
    color: #2aacc8; }
  .main-menu .drop:after {
    content: "";
    position: absolute;
    background: url("../../img/sprite.png") no-repeat 0 0;
    width: 7px;
    height: 5px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer; }

.sliders {
  background: #81e4ed;
  padding: 20px 0  14px; }
  .sliders .title-slider {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%); }

.bxslider {
  position: relative; }
  .bxslider img {
    width: 100%;
    height: auto;
    display: block; }

#footer .container {
  max-width: 1140px;
  padding: 25px 10px 25px; }

@media only screen and (max-width: 600px) {
  #footer {
    text-align: center; } }

.footer-block {
  float: left;
  margin: 10px 0 0; }
  @media only screen and (max-width: 600px) {
    .footer-block {
      float: none; } }

.social-links {
  float: right; }
  .social-links li {
    display: inline-block;
    vertical-align: top; }
  .social-links a {
    background-image: url("../img/icons-sb11b15c069.png");
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0;
    line-height: 0; }
    .social-links a:hover {
      opacity: .9; }
  @media only screen and (max-width: 600px) {
    .social-links {
      float: none; } }

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 12px; }

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #71a3a7;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/*# sourceMappingURL=maps/all.css.map */
