.sliders {
	background: #81e4ed;
	padding: 20px 0  14px;
	.title-slider {
		width: 300px;
		position: absolute;
		top: 50%;
		left: 5%;
		transform: translateY(-50%);
	}
}
.bxslider {
	position: relative;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}