

$brand-color: #000;
$background-header: rgba ( 79, 79, 79, 0.5 ); 
$font-family-verdana: 'Verdana, Geneva, sans-serif';
$color-fff: #fff;
$color-text: #9e8d8d;
$btn-color: #f27250;
$color-h1: #2b1818;
$color-btn: #e39682;